.button {
    display: block;
    width: 100%;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    appearance: none;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: #d87e00;
}