.list {
    width: 100%;
    padding: 10px;
}

.meeting {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    line-height: 1.5;
    font-weight: bold;
    background-color: #ebe7e7;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
}

.item {
    display: flex;
    width: 80%;
}

.cell {
    cursor: pointer;
    display: block;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    width: 23%;
    text-align: center;
}

.area {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 130px;
    height: 30px;
}

.far {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #000;
}