.container {
    width: 90%;
    background-color: green;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 75%;
    background-color: #0026ff;
    margin-right: 20px;
    border-radius: 20px;
}

.modalPart {
    width: 75%;
    background-color: #f00;
    margin: 0 auto;
    display: flex;
}

.normalModal {
   color: #000000;
   padding: 20px 100px;
   margin: 20px auto;
   font-weight: bold;
   border: none;
   border-radius: 20px;
   box-shadow: 2px 2px;
}

.basicModal {
    width: 500px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 1;
}

.basicModalWrapper {
    width: 80%;
    margin: 10px auto ;
}

.basicModaltitle {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.circularProgress {
    text-align: center;
    margin: 20px auto;
}

.muiBotton {
    width: 75%;
    background-color: #ffffff;
    margin: 0 auto;
    opacity: 0.9;
    justify-content: center;
}